@import url("./estilos/header.css");
@import url("./estilos/secao1.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{
--cor-de-fundo: #69751D;
--cor-da-fonte: #ffffff;
--cor-fonte-titulos: #000000;
}


body{
background-color: var(--cor-de-fundo);

}

