.cabecalho{
background-color: var(--cor-de-fundo);
background-image: url("../img/opengraph-parte1.png");
background-repeat: no-repeat;
background-size: contain;
}
.cabecalho--menu-hamburguer{
height: 160px;
width: 30px;
background-repeat: no-repeat;
background-position: top;
display: inline-block;
background-image: url("../img/🦆\ icon\ _Bars_.png");
margin-top: 100px;
}

.container{
    display: flex;
    align-items: center;
}
.lista-menu{
   display: none;

}
.container--botao:checked ~.lista-menu{
    display: block;
}

@media  (min-widht:1024px) {
.container--titulo{
display: block;

}
.container___imagem{
   height: 100px;
width: 200;
}
}

