.cabecalho{
background-color: var(--cor-de-fundo);


}
cabecalho--menu-hamburguer{
height: 25px;
width: 20px;
background-repeat: no-repeat;
background-position: center;

background-image: url(../img/🦆\ icon\ _Bars_.png);
}





